<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro</title>
  </head>
  <body>
    <form method="post" action="/cadastroUsuario">
      <input type="text" name="nome" placeholder="Nome" required />
      <input type="text" name="email" placeholder="Email" required />
      <input type="password" name="senha" placeholder="Senha" required />
      <button type="submit">Cadastrar</button>
    </form>
  </body>
</html>
