<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Filmes Para Assistir</h1>
    <form method="post" action="/assistir">
      <ul>
        Adicionar Lista de filmes para assistir aqui
      </ul>
    </form>

    <h1>Filmes Assistidos</h1>
    <ul>
      Adicionar Lista de filmes assistidos aqui
    </ul>

    <a href="/cadastroFilme">Adicionar Filme</a>
    <form method="post" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
